<form class="container">
    <div class="mb-3">
      <label for="Email" class="form-label">Username</label>
      <input type="username" class="form-control" id="Email">
    </div>
    <div class="mb-3">
      <label for="Email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="Email" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="Password" class="form-label">Password</label>
      <input type="password" class="form-control" id="Password">
    </div>
    <div class="mb-3">
      <label for="Password" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" id="Password">
    </div>
    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
      <option selected disabled>Where did you hear about us?</option>
      <option value="1">Twitter</option>
      <option value="2">Facebook</option>
      <option value="3">Google</option>
    </select>
    <button type="submit" class="btn btn-danger">Register</button>
  </form>
